<% if @up_vote.update_vote? %>
    $('.js-votes').html("<%= pluralize(@up_vote.user.up_votes.count, 'up_vote') %>");
<% else %>
    $('.flash').prepend("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash.now[:alert] %></div>");
<% end %>
